.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar.header-icons
  .notification 
    i.fa.fa-bell.header-icons.noti-toggle
    ul.noti-links
      div.noti-label Notifictatios #[span.noti-counter 50]
      li: a(href="#") Input
      li: a(href="#") Textarea
      li: a(href="#") Radio
      li: a(href="#") Colors
      div.all-noti View All Notifactios