.sidebar
  h1.logo Dashboard
  ul.links
    li: a(href="#") Homepage
    li: a(href="#") Content
    li.drop-down
      a(href="#") Form #[i.fa.fa-angle-right.fa-lg]
      ul.sub-links
        li: a(href="#") Input
        li: a(href="#") Textarea
        li: a(href="#") Radio
        li: a(href="#") Colors
    li.drop-down
      a(href="#") Misc #[i.fa.fa-angle-right.fa-lg]
      ul.sub-links 
        li: a(href="#") Input
        li: a(href="#") Textarea