$left: left;
$right: right;

// colors
$grayColor: #292C33;

// Media Quires
$xs: 'max-width: 576px';
$sm: 'min-width: 577px';
$md: 'min-width: 768px';
$lg: 'min-width: 992px';
$xl: 'min-width: 1200px';