// Set The main Font
html,
body {
  font-family: "Tajawal", sans-serif;
}

// reset ul
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// reset a
a {
  text-decoration: none;
}

.page {
  min-height: 100vh;
  width: 100%;
  background-color: #ddd;
  overflow: hidden;
  .content-area {
    width: calc(100% - 300px);
    float: $right;
    will-change: width;
    transition: all 0.3s ease-in-out;
    &.no-sidebar {
      width: 100%;
    }
  }
}
