- var pageTitle = "Homepage";
doctype html
html(lang="en")
  head
    include pug/layout/meta
    include pug/layout/styles
    title #{pageTitle}
  body
    .page.home-page
      include pug/layout/sidebar
      .content-area
        include pug/layout/header
        
        .content
          h1 #{pageTitle}
          p السماء لا تمطر غير الحب مرحبا بكم في هذه التجربة المرحة
    script(src="js/main-min.js")