.settings-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #AAA;
  padding: 20px;
  z-index: 99;
  transition: 0.5s;
  &.hide-settings {
    right: -300px;
  }
  .toggle-settings {
    position: absolute;
    top: 100px;
    left: -40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAA;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }
  .settings-content {
    .colors-option {
      ul {
        li {
          width: 30px;
          height: 30px;
          display: inline-block;
          margin: 0 5px;
          border-radius: 50%;
          transition: 0.3s;
          cursor: pointer;
          &.active {
            border: 1px solid #222;
          }
        }
        $colors: #666,#27ae60, #c0392b, #2980b9, #d35400;
        @for $i from 1 through length($colors) {
          li:nth-child(#{$i}) {
            background-color: nth($colors, $i);
          }
        } 
      }
    }
  }
}