.settings-box.hide-settings
  .toggle-settings
    i.fa.fa-gear.fa-lg
  .srttings-content 
    .option-box
      h4.option-title Color Options
    .option-box
      h4.option-title Fonts Options
    .option-box 
      h4.option-title Sidebar Options